@model IEnumerable<PROG6212POE.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartitionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LecturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartitionKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LecturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
